<!DOCTYPE html>
<html ng-app="appIndex">
    <head>
        <title>THU News Search</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <!-- the three above MUST be in the beginning -->
        <meta name="author" content="RD" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <script src="/static/third_party/angular.min.js"></script>

        <link rel="stylesheet" href="/static/third_party/bootstrap.min.css" />
        <script src="/static/third_party/jquery.min.js"></script> <!-- required before bootstrap.min.js -->
        <script src="/static/third_party/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/static/index.css" />
        <script src="/static/index.js"></script>
    </head>
    <body ng-controller="IndexController">
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <span class="navbar-brand"><a href="#">THU News Search</a></span>
                <form class="navbar-form" ng-if="result.length">
                    <input id="navinput" class="col-xs-5" type="text" ng-model="$parent.searchInput" ng-change="updsearch()"></input>
                </form>
                <form class="navbar-form pull-right">
                    <label for="datefilter" style="color:white">Date Filter:</label>
                    <select id="datefilter" ng-model="filtertype" ng-change="updfilter()">
                        <option value="0" selected="selected">All</option>
                        <option value="1">This Year Only</option>
                        <option value="2">This Month Only</option>
                    </select>
                </form>
            </div>
        </nav>
        <div class="container-fluid" ng-if="! result.length">
            <div class="row" style="height:100px">
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="jumbotron">
                        <h1>THU News Search</h1>
                        <p>Search News of Tsinghua University</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <input id="maininput" class="col-xs-12" type="text" style="height:45px" autofocus ng-model="$parent.searchInput" ng-change="updsearch();"></input>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="result.length">
            <div class="row">
                <div class="col-xs-8">
                    <div ng-repeat="row in result">
                        <h4><a href="//news.tsinghua.edu.cn/{{row.htmlurl}}" ng-bind-html="row.title"></a></h4>
                        <span class="label label-primary">{{row.columnName}}</span>
                        <span class="label label-default">{{row.date}}</span>
                        <p ng-bind-html="row.content"></p>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pager">
                    <li><span class='pager-btn' ng-if='page>1' ng-click='prevPage();'>Previous</span></li>
                    <li>Page {{page}}</li>
                    <li><span class='pager-btn' ng-if='result.length>=10' ng-click='nextPage();'>Next</span></li>
                </ul>
            </nav>
        </div>
    </body>
</html>

